.Drawing .navbar-coloring {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #423a9e;

    box-shadow: 0 1px 14px 0 rgba(66, 58, 158, 0.5);
}

.Drawing .right-vertical-bar {
    border-right: black solid 1px;
}

.Drawing .back-icon {
    padding-left: 15px;
    padding-right: 30px;
    border-right: 1px solid #65c931;
}

.Drawing .navbar-brand {
    padding-left: 20px;
    color: white;
}

.Drawing .navbar-coloring-buttons {
    padding: .5rem 1rem;
}

.Drawing .navbar-coloring-brand {
    padding: .5rem 1rem;
    background: rgb(110, 219, 49);

}

.Drawing .noHover:hover {
    text-decoration: none;
}
