.Links .changeParameters {
  position: relative;
  height: 350px;
  width: 100%;
  max-width: 350px;
  background-color: #672a96;
  border: solid 2px #622991;
  border-radius: 10px;
  text-align: center;
  font-size: xx-large;
  color: #fafef0;
  font-family: "Leelawadee", Arial, sans-serif;
  text-decoration: none;
  padding: 70px;
}

.Links .changeParameters:hover {
  background-color: #855abe;
  border: solid 2px #775abe;
}

.Links .filters {
  position: relative;
  height: 350px;
  width: 100%;
  max-width: 350px;
  background-color: #f9a811;
  border: solid 2px #f4a411;
  border-radius: 10px;
  text-align: center;
  font-size: xx-large;
  color: #fafef0;
  font-family: "Leelawadee", Arial, sans-serif;
  text-decoration: none;
  padding: 75px;
}

.Links .filters:hover {
  background-color: #ffc152;
  border: solid 2px #fabd50;
}

.Links .drawing {
  position: relative;
  height: 350px;
  width: 100%;
  max-width: 350px;
  background-color: #84f933;
  border: solid 2px #7ff333;
  border-radius: 10px;
  text-align: center;
  font-size: xx-large;
  color: #fafef0;
  font-family: "Leelawadee", Arial, sans-serif;
  text-decoration: none;
  padding: 75px;
}

.Links .drawing:hover {
  background-color: #acf980;
  border: solid 2px #a6f37a;
}