.Filters {
    background-color: #f9a811;
    height: 57px;
    padding-top: 15px;

    box-shadow: 0 1px 14px 0 rgba(249, 168, 17, 0.5);
}

.Filters h2 {
    color: #fafef0;
    font-size: 1.25rem;
    margin-left: 35px;
    margin-right: 35px;
}

.Filters .Form {
    position: relative;
    color: #fafef0;
    font-size: 1rem;
}

.Filters .Info {
    text-align: center;
    color: #fe9333;
    font-family: "Leelawadee", Arial, sans-serif;
    font-size: x-large;
}

.Filters .Back {
    padding-right: 30px;
    margin-right: 60px;
    color: #fafef0;
    text-decoration: none;
    border-right: 1px solid #e59a0f;
    height: 65px;
}

.Filters .Back:hover {
    color: #ffe2b1;
    text-decoration: none;
}

.Filters .form-control-file {
    color: #fafef0;
}