.FilterImages {
    text-align: center;
    color: #fe9333;
    font-family: "Leelawadee", Arial, sans-serif;
    font-size: x-large;
}

.FilterImages .FilterImage {
    padding-top: 18px;
    transition: 0.25s;
}

.FilterImages .FilterImage:hover {
    animation-duration: 4s;
    box-shadow: 0 1px 14px 0;
    color: #d87c2d;
    text-decoration: #d87c2d overline double;
    transform: scale(1.03);
}

.FilterImages .Frame {
    width: 100%;
    padding: 20px;
}

.Photo .Frame {
    padding: 50px;
}
