div.Title2 {
    background-color: #f9a811;
    height: 57px;
    padding-top: 15px;

    box-shadow: 0 1px 14px 0 rgba(249, 168, 17, 0.5);
}

h2 {
    color: #fafef0;
    font-size: 1.25rem;
}

.Back2 {
    padding-right: 30px;
    margin-right: 60px;
    color: #fafef0;
    text-decoration: none;
    border-right: 1px solid #e59a0f;
    height: 65px;
}

.Back2:hover {
    color: #ffe2b1;
    text-decoration: none;
}