.Images {
    text-align: center;
    color: #fe9333;
    font-family: "Leelawadee", Arial, sans-serif;
    font-size: x-large;
}

.Images .FilterImage {
    padding-top: 18px;
}

.Images .FilterImage:hover {
    padding-top: 20px;
    box-shadow: 0 1px 14px 0;
    color: #d87c2d;
    text-decoration: #d87c2d overline double ;
}

.Images .Frame {
    width: 100%;
    padding: 20px;
}

.Photo .Frame {
    padding: 50px;
}

.Winter {
    filter: brightness(0.7) grayscale(0.4) hue-rotate(200deg);
    -webkit-filter: brightness(0.7) grayscale(0.4) hue-rotate(200deg);
}

.CoffeeWithMilk {
    filter: brightness(1.1) contrast(2.1) sepia(0.9);
    -webkit-filter: brightness(1.1) contrast(2.1) sepia(0.9);
}

.Spring {
    filter: brightness(1) hue-rotate(60deg);
    -webkit-filter: brightness(1) hue-rotate(60deg);
}

.Tea {
    filter: contrast(0.8) sepia(0.8);
    -webkit-filter: contrast(0.8) sepia(0.8);
}

.BlackWhite {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.DirtyWindow {
    filter: blur(2px) brightness(1.5);
    -webkit-filter: blur(1px) brightness(1.5);
}

.Fairyland {
    filter: contrast(1.9) saturate(1.5);
    -webkit-filter: contrast(1.9) saturate(1.5);
}

.ViceVersa {
    filter: brightness(1.8) grayscale(0.2) hue-rotate(180deg) invert(0.9) sepia(0.4);
    -webkit-filter: brightness(1.8) grayscale(0.2) hue-rotate(180deg) invert(0.9) sepia(0.4);
}