form {
    padding-top: 30px;
    padding-bottom: 30px;

}

.fileInput {
    color: #471d69;
    font-family: "Leelawadee", Arial, sans-serif;
}

.imgView {
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 450px;
    max-width: 900px;

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.75);
}