.Choose {
    width: 80px;
    height: 50px;
    background-color: #060b57;
    border-radius: 4px;
    border: solid 2px #060b5f;
    color: #fafef0;
}

form {
    padding: 30px;
}

input {
    color: #375365;
}