.ChooseImage form {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ChooseImage .fileInput {
  color: #471d69;
  font-family: "Leelawadee", Arial, sans-serif;
}

.ChooseImage .canvasHolder {
  max-height: 537px;

  margin-right: 50px;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.75);
}

.ChooseImage .warning {
  color: red;
  font-weight: bold;
}
