.Header {
    background-color: #672a96;
    box-shadow: 0 1px 14px 0 rgba(103, 42, 150, 0.5);
}

.Header h2 {
    color: #fafef0;
    font-size: 1.25rem;
}

.Header .Back:hover {
    color: #cbb3fe;
    text-decoration: none;
}

.Header .back-icon {
    padding-right: 30px;
    border-right: 1px solid #8e37cb;
}

.Header .Brand {
    border-right: 1px solid #8e37cb;
    padding-left: 16px;
}

.Header .navbar-brand {
    padding-left: 20px;
    color: white;
}

.Header .button-save {
    padding-left: 20px;
}

.Back {
    padding-right: 20px;
    color: #fafef0;
    text-decoration: none;
    height: 65px;
}