.InputsRange {
    padding-top: 30px;
    padding-right: 2rem;
    padding-left: 2rem;
}

.InputsRange label {
    color: #471d69;
    font-family: "Leelawadee", Arial, sans-serif;
}

.InputsRange input[type=range] {
    padding-bottom: 20px;
    width: 100%;
}

.InputsRange input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #e0eae3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #471d69;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.InputsRange input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #e0eae3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #471d69;
    cursor: pointer;
}

.InputsRange input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ddccf7;
}

.InputsRange input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #e0eae3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #471d69;
    cursor: pointer;
}

/* The container */
.CheckBox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.CheckBox label {
    color: #471d69;
}

/* Hide the browser's default checkbox */
.CheckBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.CheckBox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.CheckBox input:checked ~ .checkmark {
    background-color: #471d69;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.CheckBox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.CheckBox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}