.Header {
    background-color: #672a96;
    height: 57px;
    padding-top: 15px;

    box-shadow: 0 1px 14px 0 rgba(103, 42, 150, 0.5);
}

.Header h2 {
    color: #fafef0;
    font-size: 1.25rem;
}

.Header .Back {
    padding-right: 30px;
    margin-right: 60px;
    color: #fafef0;
    text-decoration: none;
    border-right: 1px solid #a744f7;
    height: 65px;
}

.Header .Back:hover {
    color: #cbb3fe;
    text-decoration: none;
}