.InputsRange {
    padding-top: 30px;
    padding-right: 50px;
}

.InputsRange label {
    color: #471d69;
    font-family: "Leelawadee", Arial, sans-serif;
}

.InputsRange input[type=range] {
    padding-bottom: 20px;
    width: 100%;
}

.InputsRange input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #e0eae3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #471d69;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.InputsRange input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #e0eae3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #471d69;
    cursor: pointer;
}

.InputsRange input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ddccf7;
}

.InputsRange input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #e0eae3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #471d69;
    cursor: pointer;
}
